[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
dataclasses_json = "*"
sh = "*"
requests = "*"
idna = "*"
paramiko = "*"
cm-client = "*"
pyyaml = "*"
colr = "*"
tabulate = "*"
pptree = "*"
rich = "*"
pyfiglet = "*"
python-commons = {editable = true, ref = "master", git = "https://github.com/szilard-nemeth/python-commons.git"}

[requires]
python_version = "3.9"
